/* ALL STYLE
Overall visual approach,
I used trial and error for colour combinations, fonts, widths, margins, etc. to come to the style I did. I aimed to have a dark background with light text
that was minimal and sleek. */

html, body {
    height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0; /* off white */
}

/* HEADER STYLING
The header is centred for a nice clear title. I used upper case text to make it more strong visually. Got to use the text-transform in the process. I was trying as much
as I could that I learnt from the w3 schools resource: https://www.w3schools.com/css/*/
header {
    margin: 0; /* Good practice to remove default browser spacing*/
    font-size: 1.5rem;  
    font-weight: 300;    /* changes the thickness of the text I learnt*/
    letter-spacing: 4px; /* wider space for grandeur and readability*/
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px; /* adding space simply because it looks cleaner*/
}

/* HEADER BIG TEXT*/
header h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

/* HEADER SUBTITLE*/
header h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #94a3b8; 
}

/*HYPERLINK*/
a {
    color: #91caff;
    text-decoration: none;
}

/*HYPERLINK HOVER
Quite chuffed with this. Changes colour when you hover over and underline is highlighted. Looks really nice when not hovered on, but then clearly a link when you do hover. Very clean! 
Just like a real website*/
a:hover {
    text-decoration: underline;
    color: #ffffff;
}


/* QUESTIONS*/
h2 { 
    color: #38bdf8;
    font-weight: 700;
    font-size: 1.4em;
    padding-left: 30px;   /* Making all the question wrap nicely instead of underneath the question number*/
    text-indent: -30px;   /* pulls the number back */
}

/*MAIN*/
main {
    display: grid; /* Enables CSS Grids*/
    grid-template-columns: 1fr 1fr; /* Two equal columns*/
        /* I used two columns to make the page far more readable. It kept lines from being too far across the page, and divided each question in a more visually appealing manner*/
    gap: 60px; /* Space between said columns*/
    max-width: 1300px;   /* limits width of each column */
    margin: 0 auto;     /* centres horizontally */
    line-height: 1.5; 
    padding: 20px; 
}

p {
    word-wrap:break-word; /* Make it so the text wraps rather than go on forever across the page. This may be redundant now I've added the grids and sections but still here as a safeguard*/
    white-space: normal;
}

/*SECTIONS*/
section {
    margin-bottom: 20px; /* Space between each section*/
    padding: 25px; 
    border-radius: 10px; /* Rounded the corners. Looks really clean*/
    background-color: #1e293b;
}

/*ANSWERS
Made a class ! This is for the text that is the answer to the questions. I needed to adjust the margin on the left for it to be most readable and visually appealing*/
.answer { 
    margin-left: 20px; /* Indent all the answers by 20 pixels */
    padding-left: 20px;
    border-left: 2px solid rgba(148, 163, 184, 0.3); /* Added a line next to the text. This was just to try borders and I also tried colouring using this method*/
}

/*LISTS*/
ul li { /* Fixing spacing between each list item to improve readability*/
    margin-bottom: 30px;
}


footer { /*Making the footer empty. Making the page look a bit more polished*/
    min-height: 90px;              /* Height of the footer */
}

/*TWO COLUMNS
Class for my two columns. I wish I knew about CSS a long time ago. It's so very rewarding and mostly intuitive. Here are these column functions and I used them to make the hefty text of the
second answer much easier to read by dividing into two columns*/
.two-columns {
    columns: 2;        /* splits my dot points into two columns */
    column-gap: 20px;  /* gap between my columns */
}

/* Made a class just for the second question because I didn't want to have to divide the answer across two seperate sections.*/
section.ignore-grid {
    grid-column: 1/-1; /* What this does is make sure the section spans all of the row on the grid layout that its on. It overides the usual grid layout. So now the section will fill the full row.
                1 means the start
                -1 means the end I learnt. I could write this as 1/3 but this is more fullproof in that no matter how many columns I have, it will stretch out to fill the whole row.
}