body {
    font-family: 'Lucida Sans', sans-serif
}

p {
    word-wrap:break-word; /* Make it so the text wraps rather than go on forever*/
    white-space: normal;
}

.answer {
    margin-left: 40px; /* Indent all the answers by 40 pixels */
}